.introduction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 30px;
  background-image: url("../assets/onebackground.jpg");
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling (grid effect) */
  background-attachment: scroll;
}

/* Content Box */
.intro-content {
  height: 96%;
  max-width: 600px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.3); /* Slight transparency */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  z-index: 2;
  margin-right: auto;
}

/* Headings */
.intro-content h1 {
  color: #bd1913;
  margin-bottom: 20px;
  font-family: system-ui;
  font-weight: 900;
}

.intro-content p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #0e0e0e;
}

/* Buttons */
.intro-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.intro-buttons button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e72020;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.intro-buttons button:hover {
  background-color: #b12121;
}

.user-type-select{
  margin-bottom: 1rem;
}

.forgot-password {
  margin-top: 1px;
  font-size: 0.5rem;
  color: #0c7842;
  cursor: pointer;
  text-align: center;
}

.forgot-password span {
  color: #074727;
  font-size: 1rem;
}

.forgot-password span:hover {
  text-decoration: underline;
}

.account{
  position: relative;
  top: -17px;
}

.forgot-password span,
.back-to-login span {
  color: #064720;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  margin-top: 3px;
}



/* Responsive Design */
@media (max-width: 768px) {
  .intro-content {
    width: 90%;
    padding: 30px;
  }
}