.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-container {
  background: white;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.user-type-select {
  display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.user-type-select label {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  background: #ddd;
  transition: 0.3s ease;
}

.user-type-select label.selected {
  background: #9e1818;
  color: white;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #b11616;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #e12c2c;
}

.register-link {
  color: #aa1212;
  cursor: pointer;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}


form.login-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}