.login-wrapper {
  display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: initial;
    top: -55px;
}

.login-container {
  background: #759497;
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 0;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    color: #5a0d0d;
    text-align: center;
    margin: 5px;
    font-size: xx-large;
    font-family: none;
}

.user-type-select {
  display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.user-type-select label {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  background: #ddd;
  transition: 0.3s ease;
}

.user-type-select label.selected {
  background: #9e1818;
  color: white;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #e7e0e0;
}

button {
  width: 100%;
  padding: 10px;
  background: #b11616;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #e12c2c;
}

.register-link {
  color: #aa1212;
  cursor: pointer;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}


form.login-form{
  display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
}